<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>Moneyloji: Serving loans quicker than express coffee</title>
  <link rel="stylesheet" type="text/css" href="/inblox-employee-portal-1.0.0.css">
</head>

<body>
  <div class="app" data-identity-service-url="<%= IDENTITY_SERVICE_URL %>"
    data-file-service-url="<%= FILE_SERVICE_URL %>" data-loan-service-url="<%= LOAN_SERVICE_URL %>"
    data-banking-service-url="<%= BANKING_SERVICE_URL %>" data-reporting-service-url="<%= REPORTING_SERVICE_URL %>" />

  <script type="text/javascript" src="inblox-employee-portal-1.0.0.js"></script>
</body>

</html>
